<nav class="navbar navbar-light bg-light" id="header">
  <div class="container-fluid" id="navbar">
    <a class="navbar-brand" href="#">
      <img src="assets/images/logo-search-grid-1x.png" id="logo" alt="">
    </a>
    
    <!-- <a class="btn btn-primary ms-1" [routerLink]="['/user-login']">
      Get Started
    </a> -->

    <div class="collapse navbar-collapse" id="navToggleMenu" style="width: 20%; color: black">
      <ul class="navbar-nav me-auto nav" id="navbarNav">
        <li class="nav-item">
          <a routerLink="homepage" class="nav-link">{{ 'HOME' }}</a>
        </li>
        <li class="nav-item">
          <a routerLink="about-us" class="nav-link ml-2">{{ 'ABOUT' }}</a>
        </li>
        <li class="nav-item">
          <a routerLink="contact" class="nav-link ml-2">{{ 'CONTACT' }}</a>
        </li>
           <li class="nav-item">
          <a routerLink="userpages" class="nav-link ml-2">{{ 'USER PAGES' }}</a>
        </li>
       
       

        
        <li class="nav-item">
          <a routerLink="admin-pages" class="nav-link ml-2">{{ 'ADMIN PAGES' }}</a>
        </li>
      </ul>
    </div>

    <button class="btn btn-secondary btn-sm ml-4 navbar-toggle collapsed" id="hamburger-btn"
      type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#navToggleMenu">
      <i class="fa-solid fa-bars"></i>
    </button>
  </div>
</nav>
