#logo{
    width: 5rem;
}

 #header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}  

.navbar-nav {
    max-height: 150px; 
    overflow-y: auto; 
    width: 100%;
  }
  

  #navToggleMenu{
    width: 100%;
  }


  
  

  
  





