
<div class="container-fluid" id="navbar">


    <div id="navBtns">
      
       <img src="assets/images/logo-search-grid-1x.png" id="logo" alt="">
      <li><a routerLink="homepage" id="head">{{ 'HOME' }}</a></li>
      <li><a routerLink="about" id="head">{{ 'ABOUT' }}</a></li>
      <li><a routerLink="contact" id="head">{{ 'CONTACT' }}</a></li>
    </div>

    <button class="btn btn-secondary btn-sm" id="hamburger-btn">
      <i class="fa-solid fa-bars"></i>
    </button>
    
  
    
</div>

  
<!-- <nav class="navbar navbar-light bg-body-tertiary">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1"></span>
    </div>
</nav> -->
