<div class="container">
  <h1>Add Appointment</h1> <br><br>
  <form (ngSubmit)="addAppointment2(appointmentForm)" #appointmentForm="ngForm">
    <div class="form-group">
      <label for="first_name">First Name</label><br>
      <input type="text" class="form-control" id="first_name" name="first_name" ngModel required> <br><br>
    </div>

    <div class="form-group">
      <label for="last_name">Last Name</label><br>
      <input type="text" class="form-control" id="last_name" name="last_name" ngModel required> <br><br>
    </div>

    <div class="form-group">
      <label for="sex">Gender</label><br>
      <select class="form-control" id="sex" name="sex" ngModel required>
        <option *ngFor="let gender of genders" [value]="gender">{{ gender }}</option>
      </select><br><br>
    </div>
    
    <div class="form-group">
      <label for="DOB">Date of Birth</label><br>
      <input type="date" class="form-control" id="DOB" name="DOB" ngModel required><br><br>
    </div>

    <div class="form-group">
      <label for="appointment_date">Appointment Date</label><br>
      <input type="date" class="form-control" id="appointment_date" name="appointment_date" ngModel><br><br>
    </div>

    <div class="form-group">
      <label for="title">Title</label><br>
      <select class="form-control" id="title" name="title" ngModel required>
        <option *ngFor="let option of titleOptions" [value]="option">{{ option }}</option>
      </select><br><br>
    </div>

    <div class="form-group">
      <label for="reason_for_visit">Reason for Visit</label><br>
      <textarea class="form-control" id="reason_for_visit" name="reason_for_visit" ngModel required></textarea><br><br>
    </div>

    <div class="form-group">
      <label for="doctor_name">Doctor Name</label><br>
      <select class="form-control" id="title" name="doctor_name" ngModel required>
        <option *ngFor="let doctor of doctors" [value]="doctor.id">{{ doctor.first_name }} {{ doctor.last_name }}</option>
      </select><br><br>
    </div>

    <div class="form-group">
      <label for="phone">Phone</label><br>
      <input type="tel" class="form-control" id="phone" name="phone" ngModel required><br><br>
    </div>

    <div class="form-group">
      <label for="medical_history">Medical History</label><br>
      <textarea class="form-control" id="medical_history" name="medical_history" ngModel required></textarea><br><br>
    </div>

    <div class="form-group">
      <label for="medications_taken">Medications Taken</label><br>
      <textarea class="form-control" id="medications_taken" name="medications_taken" ngModel required></textarea><br><br>
    </div>

    <div class="form-group">
      <label for="email">email</label><br>
      <input class="form-control" id="email" name="email" ngModel required><br><br>
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
