<form (ngSubmit)="createReschedule(rescheduleForm)" #rescheduleForm="ngForm" style="margin-top: 8rem;">
    
    <div class="form-group">
      <label for="first_name">First Name:</label>
      <input type="text" class="form-control" id="last_name" name="last_name" ngModel required>
    </div>
    <div class="form-group">
      <label for="last_name">Last Name:</label>
      <input type="text" class="form-control" id="last_name" name="last_name" ngModel required>
    </div>
    <div class="form-group">
      <label for="phone">Phone:</label>
      <input type="text" class="form-control" id="phone" name="phone" ngModel required>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" name="email" ngModel required>
    </div>
    <div class="form-group">
      <label for="original_time">Original Time:</label>
      <input type="text" class="form-control" id="original_time" name="original_time" ngModel required>
    </div>
    <div class="form-group">
      <label for="new_time">New Date:</label>
      <input type="text" class="form-control" id="new_time" name="new_time" ngModel required>
    </div>
    <div class="form-group">
      <label for="reason_for_rescheduling">Reason for Rescheduling:</label>
      <textarea class="form-control" id="reason_for_rescheduling" name="reason_for_rescheduling" ngModel required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  
