<div *ngIf="appointment" style="margin-top: 7rem;">
    <table class="table table-bordered mt-5" >
      <tr>
        <th>ID</th>
        <td>{{ appointment.id }}</td>
      </tr>
      <tr>
        <th>First Name</th>
        <td>{{ appointment.first_name }}</td>
      </tr>
      <tr>
        <th>Last Name</th>
        <td>{{ appointment.last_name }}</td>
      </tr>
      <tr>
        <th>Phone</th>
        <td>{{ appointment.phone }}</td>
      </tr>
      <tr>
        <th>Gender</th>
        <td>{{ appointment.sex }}</td>
      </tr>
      <tr>
        <th>Date of Birth</th>
        <td class="nowrap">{{ appointment.DOB | date:'mediumDate' }}</td>
      </tr>
      <tr>
        <th>Appointment Date</th>
        <td class="nowrap">{{ appointment.appointment_date | date:'mediumDate' }}</td>
      </tr>
      <tr>
        <th>Title</th>
        <td>{{ appointment.title }}</td>
      </tr>
      <tr>
        <th>Reason for Visit</th>
        <td>{{ appointment.reason_for_visit }}</td>
      </tr>
      <tr>
        <th>Doctor Name</th>
        <td>{{ appointment.doctor_name }}</td>
      </tr>
      <tr>
        <th>Medical History</th>
        <td>{{ appointment.medical_history }}</td>
      </tr>
      <tr>
        <th>Medications Taken</th>
        <td>{{ appointment.medications_taken }}</td>
      </tr>
      <tr>
        <th>Email</th>
        <td>{{ appointment.email }}</td>
      </tr>
    </table>
  
  
  </div>
  