<div style="overflow-x: auto;">
    <table class="table table-striped" id="appointment_table">
      <thead class="table-dark mt-5">
        <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Phone</th>
          <th>Sex</th>
          <th>DOB</th>
          <th>Appointment Date</th>
          <th>Title</th>
          <th>Reason for Visit</th>
          <th>Doctor Name</th>
          <!-- <th>Doctor Phone</th> -->
          <th>Medical History</th>
          <th>Medications Taken</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let appointment of appointments">
          <td>{{ appointment.id }}</td>
          <td>{{ appointment.first_name }}</td>
          <td>{{ appointment.last_name }}</td>
          <td>{{ appointment.phone }}</td>
          <td>{{ appointment.sex }}</td>
          <td>{{ appointment.dob | date:'mediumDate' }}</td>
          <td>{{ appointment.appointment_date | date:'mediumDate' }}</td>
          <td>{{ appointment.title }}</td>
          <td>{{ appointment.reason_for_visit }}</td>
          <td>{{ appointment.doctor_name }}</td>
          <!-- <td>{{ appointment.doctor_phone }}</td> -->
          <td>{{ appointment.medical_history }}</td>
          <td>{{ appointment.medications_taken }}</td>
          <td>{{ appointment.email }}</td>
          <td>
            <!-- Actions column content -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  
  
