
<img src="/assets/images/doctors.jpeg" id="heroImage"  alt="">
    
<h5 style="margin-left: 2.8rem; margin-top: 2rem;"><b>We offer follow up</b></h5>
<h5 id="homeh5"><b>checkups</b></h5>

<img src="/assets/images/istockphoto-1682074275-170667a.webp" id="serviceImg1" alt="">
<img src="/assets/images/istockphoto-1496720432-2048x2048.jpg" id="serviceImg2" alt="">

<h6 id="service1WiHealthh5"><b>Are you a patient of WiHealth?</b></h6>
<p>
    At WiHealth your health is our priority. We ensure that our patients receive the best care and also 
    have the feeling of being well taken care of being in a community that cares about your welbeing. 
</p>


<h5 id="service1WiHealthh6"><b>Busy Days?</b></h5>
<img src="" alt="">



