
<img src="/assets/images/doctors.jpeg" style="width: 100%; height: 25rem;" class=".container-sm mt-5">
<div id="homeCard1">


<div class="container-sm" id="container">
    <h5 class="card-title" style="color: #BFD641;">WiHealthValues</h5><br>
    "At WiHealth, your health is our priority.<br>
    We ensure that our patients receive the best care and also have the feeling of being well taken care of in a community that cares about your well-being.<br>
    The purpose of this platform is for sending appointments to the WiHealth Health practice.<br>
    This app will help to streamline the process of helping patients of the WiHealth practice make their appointments.<br>
    Here are some features of the app."
</div>

<div class="container-sm" id="container2">
   <img src="/assets/images/istockphoto-1496720432-2048x2048.jpg" id="homeServiceImage1">
</div>
<!-- <div class="card text-white bg-secondary mb-3 mt-5" style="max-width: 18rem; margin-left: 15rem;">
    <div class="card-header"><b>At WiHealth your health is our priority </b></div>
    <div class="card-body">
      <h5 class="card-title">Dark card title</h5>
      At WiHealth your health is our priority. We ensure that our <br>
     patients receive the best care and also have the feeling of  <br>
     being well takencare of being in a community that cares about  <br>
     your welbeing.The purpose of this platform is for sending appointments <br>
     to the Wihealth Health practice.
    </div>
  </div> -->



