<!-- <app-admin-links></app-admin-links> -->
<div class="card" style="margin-top: 8rem;">
 
 <div class="card-body">
    <a routerLink="/appointment-list" class="nav-link ml-2">{{ 'APPOINTMENT LIST' }}</a><br>



    <a routerLink="/doctors-page" class="nav-link ml-2">{{ 'DOCTORS LIST' }}</a><br>



    <a routerLink="/reschedule-appointment" class="nav-link ml-2">{{ 'RESCHEDULE LIST' }}</a><br>



    <a routerLink="/feedback-list" class="nav-link ml-2">{{ 'FEEDBACK LIST' }}</a>

    <button (click)="logout()" class="nav-link ml-2 btn btn-danger">{{ 'LOGOUT' }}</button>

     
   </div>

</div>
