<!-- <app-admin-links></app-admin-links> -->
<div class="card" style="margin-top: 8rem;">
 
    <div class="card-body">
        <a routerLink="/add-appointment" class="nav-link ml-2">{{ 'MAKE APPOINTMENT' }}</a> <br>
   
        <a routerLink="/create-reschedule" class="nav-link ml-2">{{ 'CREATE RESCHEDULE' }}</a> <br>
   
   
        <a routerLink="/feedback" class="nav-link ml-2">{{ 'LEAVE FEEDBACK' }}</a> <br>
   
   
   
   
      
   
       <button (click)="logout()" class="nav-link ml-2 btn btn-danger">{{ 'LOGOUT' }}</button>
   
        
      </div>
   
   </div>
   
